

.customer-stories-quote{
    margin-bottom: 1.6rem;
}

.customer-stories{
    display: flex;
    padding: 2rem 3rem 1rem 2rem;
    border: 1px solid #d1d7dc;
    
}

.customer-profile img{
    border-radius: 50%;
    height: 120px;
}

.customer-story{
    margin-right: 0rem;
    text-align: justify;
}

.customer-profile{
    text-align: center;
    margin-left: 3rem;
}

.customer-name{
    font-weight: bolder;
    font-size: 1.2rem;
}

.customer-designation{
    color: #6a6f73;
}

.read-full-story{
    text-decoration: underline;
    color: #5624d0;
    font-weight: 900;
    
}

.customer-review{
    line-height: 1.4;
}


.customer-details{
    width: max-content;
}


.more-customer-stories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

.more-customer-stories a{
    text-decoration: none;
    color: #5624d0;
    font-weight: 900;
    font-size: .9rem;
}




.left-customer-stories-arrow-icon, .right-customer-stories-arrow-icon{
    padding: 12px;
    border-radius: 50%;
    background-color: #2d2f31;
    color: white;
}


@media (max-width:900px) {

    .customer-stories{
        min-height: 23rem;
    }    

    .customer-profile{
        margin-left: 0;
    }

    

    .more-customer-stories{
        justify-content: start;
    }

    .customer-story{
        margin-right: 3rem;
    }

    


    .customer-stories-main{
        width: 92% !important;
    }

    .customer-stories-section{
        padding: 5rem 0rem 5rem 0rem !important;
    }
    .read-more-desktop{
        position: absolute;
        bottom: 3rem;
    }

}

.read-more-mobile{
    display: none;
}


@media (max-width:750px) {
    .customer-stories{
        min-height: 28rem;
    }    
}

@media (max-width: 650px) {

    
    .customer-stories{
        min-height: 28rem
    }

    .customer-profile{
        position: absolute;
        bottom: 6rem;
    }

    .read-more-mobile{
        position: absolute;
        bottom: 2rem;
    }

    .customer-stories{
        display: inline-block;
        
    }
    .customer-story{
        margin-right: 0rem;
    }

    .customer-stories{
        padding: 3rem 2rem;
        height: auto;
    }

    .customer-profile{
        text-align: left;
        display: flex;
        align-items: center;

    }

    .customer-name{
        margin-top: 0 !important;
    }

    .read-more-mobile{
        display: block;
        padding: 0 1rem;
    }
    .read-more-desktop{
        display: none;
    }

    .customer-img img{
        height: 48px;
       
    }

    .customer-img{
        padding: 1rem 1rem 1rem 0;
    }

    .customer-story img{
        margin-bottom: 1rem;
    }

  
    
}