/* .customer-stories-block{
    background-color: #f7f9fa;
    padding: 4rem;
    
    
}

.customer-stories-carousel{
    display: grid;
    grid-gap: 1.6rem;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    position: relative;
} */

/* .customer-stories-block{
    width: 60% !important;
} */

.customer-stories-main{
    width: 100%;
}

.customer-stories-carousel{
    background-color: white;
}

.customer-stories-quote{
    margin-bottom: 1.6rem;
}

.customer-stories{
    display: flex;
    /* max-width: 50rem; */
    padding: 2rem 4rem 2rem 4rem;
    border: 1px solid #d1d7dc;
    
}

.customer-profile img{
    border-radius: 50%;
    height: 150px;
}

.customer-story{
    margin-right: 5rem;
    text-align: justify;
}

.customer-profile{
    text-align: center;
}

.customer-name{
    font-weight: bolder;
    font-size: 1.2rem;
}

.customer-designation{
    color: #6a6f73;
}

.read-full-story{
    text-decoration: underline;
    color: #5624d0;
    font-weight: 900;
    
}

.customer-stories-block{
    max-width: 50rem;
}

.right-customer-stories-arrow, .left-customer-stories-arrow{
    
    /* background-color: transparent !important; */
    top: 3rem;
    opacity: 1 !important;
}

.right-customer-stories-arrow:hover, .left-customer-stories-arrow:hover{
    background-color: transparent !important;
}

.right-customer-stories-arrow{
    justify-content: end !important;
}

.left-customer-stories-arrow{
    justify-content: start !important;
}

/* .left-customer-stories-arrow-icon{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1.2rem;
} */

.customer-details{
    width: max-content;
}



.customer-stories-btns{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    width: 100%;
}

.customer-stories-left-arrow{
    cursor: pointer;
    z-index: 2;
}

.customer-stories-right-arrow{
    /* width: 100%;
    display: flex;
    justify-content: flex-end; */
    z-index: 2;
    cursor: pointer;
}

.customer-stories-left-arrow-icon:hover, .customer-stories-right-arrow-icon:hover{
    background-color: #3e4143;
}

.customer-stories-left-arrow-icon, .customer-stories-right-arrow-icon{
    padding: 12px;
    border-radius: 50%;
    background-color: #2d2f31;
    color: white;
}


.more-customer-stories{
    position: relative;
    bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-customer-stories a{
    text-decoration: none;
    color: #5624d0;
    font-weight: 900;
    font-size: .9rem;
}

@media (max-width: 890px) {
    .more-customer-stories{
        position: relative;
        top: -4rem;
        bottom: 0;
        justify-content: flex-start;
    }

}

@media (max-width: 700px) {
    .more-customer-stories{
        top: 0;
    }
}

@media (max-width:900px) {
    .customer-story{
        margin-right: 3rem;
    }

    .customer-stories-main{
        width: 92% !important;
    }

    .customer-stories-section{
        padding: 3rem 0rem 3rem 0rem !important;
    }

}

.read-more-mobile{
    display: none;
}

@media (max-width: 650px) {

    .customer-stories-btns{
        top: 40%;
    }

    .customer-stories{
        display: inline-block;
        
    }
    .customer-story{
        margin-right: 0rem;
    }

    .customer-stories{
        padding: 1rem;
        height: auto;
    }

    .customer-profile{
        text-align: left;
        display: flex;
        align-items: center;
        margin-top: 4rem;
    }

    .customer-name{
        margin-top: 0 !important;
    }

    .read-more-mobile{
        display: block;
        padding: 0 1rem;
    }
    .read-more-desktop{
        display: none;
    }

    .customer-img img{
        height: 48px;
       
    }

    .customer-img{
        padding: 1rem;
    }

    .customer-story img{
        margin-bottom: 1rem;
    }

  
    
}