.courses{
    width: 85%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.courseName-subHeading{
    font-weight: 700;
}

.courses .slider-menus{
    border-bottom: 1px solid #d1d7dc;
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}


.courses .slider-menus div{
    /* border-bottom: 1px solid; */
    padding: .5rem;
    font-weight: 900;
    color: #6a6f73;
    font-size: .9rem;

}

.courses .slider-menus div:hover{
    font-weight: 900;
    color: #2d2f31;
    cursor: pointer;
}

.active-div{
    border-bottom: 2px solid;
    font-weight: 900;
    color: #2d2f31 !important;
}

.courses i{
    padding: 12px;
    border-radius: 50%;
    background-color: #2d2f31;
    color: white;
}
/* 
.courses-course-price{
    margin-top: 5rem !important;
} */


.courses-totalHour-level-subtitles{
    margin-left: 1rem;
}

@media (max-width:1060px) {
    .courses-bestseller-upatedDate{
        display: block;
    }

    .courses-totalHour-level-subtitles{
        margin-left: 0;
    }

    .course-card-main{
        padding: 2rem 0 2rem 2rem !important;
    }
}


@media (max-width:767px) {

    .course-card-main{
        padding: 2rem !important;
    }

   .course-card-main .course-card-main-body{
    padding: 1rem 0 !important;
   } 

   .courses-course-price{
    margin-top: 0 !important;
}

}


.courses-section-desktop{
    display: block;
}


.accordion-item:last-child{
    border-bottom: 1px solid #dee2e6 !important;
}

@media (max-width:600px) {
    .courses-section-desktop{
        display: none !important;
    }

    .learners-are-viewing-mobileview{
        display: block;
    }
}


/* popular instructors */

.instructor-rating{
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 700;
}

.instructor-rating i{
    font-size:1.3rem;
    padding: 2px;
}



/* ALL COURSES */

.not-sure-div{
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    padding: 1rem;
}

@media (max-width: 768px) {

    .popular-instructors .card{
        text-align: center;
    }
    
    .popular-instructors .card img{
        height: 5rem !important;
    }

    .popular-instructors .card-body{
        padding: 0;
        margin-top: 1rem;
    }

    .popular-instructors .instructor-rating{
        justify-content: center;
    }

}

@media (max-width:500px) {
    .popular-instructors-card-main{
        padding: 1rem 0px 0px 1.5rem !important;
    }
}



/* filter-sort-results */

.filter-sort-results{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter, .filter-for-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding:  1rem;
    margin-right: 1rem;
}

.filter-for-mobile{
    display: none;
}

.sort{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid;
    padding: .5rem 1rem;
}


.left-panel .accordion, .offcanvas .accordion{
    --bs-accordion-border-color: transparent;
}

.allcourses-rating{
    color: #6a6f73;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.rating-filter-one, .rating-filter-two, .rating-filter-three, .rating-filter-four{
    display: flex;
    align-items: center;
}

.rating-filter-one .total-courses, .rating-filter-two .total-courses, .rating-filter-three .total-courses, .rating-filter-four .total-courses{
    margin-left: .5rem;
}


.form-check-input:checked{
    background-color: black;
    filter: invert(1);
    border: 1px solid white !important;
}


.video-duration-accordion, .topic-accordion{
    color: #6a6f73; 
    position: relative;
    overflow: hidden;
}

.form-check-input[type=checkbox]{
    border-radius: 0;
    border: 1px solid black;
}

.form-check-input[type=checkbox]:checked{
    background-color: black !important;
    border: 1px solid white !important;
    filter: invert(0);
}



.show_more_btn_before_click{
    background-color: white; 
    filter: drop-shadow(0px -28px 19px white);
    cursor: pointer;
    color: #5624d0;
    font-weight: 700; 
    font-size: .9rem; 
}

.show_more_btn_after_click{
    background-color: white; 
    cursor: pointer;
    color: #5624d0;
    font-weight: 700; 
    font-size: .9rem; 
}

.right-panel{
    min-width: 36rem;
    padding: 0 1rem;
}

.allCourses-card{
    display: flex;
    gap: 1rem;
    border-top: 1px solid #d1d7dc;
    padding: 2rem 0;
}

.allCourses-card-img{
    width: 24rem;
}



.allCourses-card-details{
    max-width: 39rem;
    font-size: .8rem;
}

.allcourse-card-price-span{
    margin-left: 2rem;
}

.allCourses-offcanvas{
    width: 18rem !important;
}

.offcanvas-lg .allcourses-rating{
    font-size: .7rem;
}

.offcanvas-footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.offcanvas-footer button{
    color: white;
    background-color: #2d2f31;
    border: none;
    width: 95%;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.accordion-item{
    border: none;
}

@media (max-width:700px) {

    

    .filter-sort-results .results{
        display: none;
    }

    .allCourses-card{
        display: block;
        width: fit-content;
    }

    .allCourses-card-img{
        width: auto;
    }

    .right-panel{
        min-width: 100% !important;
        padding: 0 !important;
    }

    .allcourse-card-price-span{
        margin-left: 0 !important;
    }

    .allcourse-card-price{
        margin-top: 1rem;
    }

    .allCourses-card-details{
        margin-top: 1rem;
    }
}

@media (max-width:990px) {
    .left-panel{
        display: none;
    }
    .right-panel{
        padding: 0;
    }

    .filter{
        display: none;
    }

    .filter-for-mobile{
        display: flex;
    }
}

@media (min-width:990px) {
    .allCourses-offcanvas{
        display: none;
    }
}