
.SelectedCoursePage-outer-container {
    display: flex;
    background-color: #2d2f31;
    max-width: 100%;
}

.SelectedCoursePage-breadcrumb {
    justify-content: left;
    box-shadow: none;
    padding: 0;
    border-top: none;

}

.SelectedCoursePage-inner-container {
    min-width: 80%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.SelectedCoursePage-course-info h2 {
    margin-top: 0;
    font-weight: 700;
    color: white;
}

.SelectedCoursePage-course-info {
    max-width: 37rem;
    font-size: 1.1rem;
    padding: 1rem 0;
}

.SelectedCoursePage-course-info .rating {
    color: white !important;
}


.SelectedCoursePage-card {
    background-color: white;
    max-width: 23rem;
    color: #2d2f31;
    border: 1px solid rgb(209, 215, 220);
}

.personal-or-teams-outer-div-border{
    border: .5px solid rgb(209, 215, 220);
}

.SelectedCoursePage-card-img-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    box-shadow: inset 0px -48px 50px 30px rgba(0, 0, 0, 0.5);
}


.SelectedCoursePage-card .image-overlay {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-or-teams {
    display: flex;
    font-weight: 700;
    justify-content: space-around;
}

.personal,
.teams {
    width: 100%;
    text-align: center;
    padding: .7rem;
    font-weight: 900;
}

.personal:hover,
.teams:hover {
    cursor: pointer;
    color: #2d2f31 !important;
}

.activePersonalTeam {
    border-bottom: 2px solid #2d2f31;
}


.purchase-section-box1 {
    padding: 1rem;
}

.purchase-section-price {
    gap: .5rem;
}

.discount-offer-time-left {
    gap: .5rem;
    color: #b32d0f;
}

.custom-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

.custom-divider hr {
    border-top: 1px solid black !important;
    margin-top: 0;
}



/* mobile view */

@media (max-width:1054px) {

    .SelectedCoursePage-outer-container-desktop {
        max-height: none;
    }

    .SelectedCoursePage-course-info{
        margin-top: 1rem;
    }

    .personal-or-teams-outer-div{
        margin-top: 1rem;
    }
 

    .personal,
    .teams {
        width: 100%;
        text-align: center;
        padding: .7rem;
        font-weight: 900;
        color: white !important;
    }

    .personal:hover,
    .teams:hover {
        cursor: pointer;
        color: white !important;
    }

    .activePersonalTeam {
        border-bottom: 2px solid white;
    }

    .purchase-section-mobile-start-subscription-btn:hover {
        background-color: #ffffff14 !important;
    }

    .subscribe-section,
    .purchase-section-box1 {
        padding: 0 !important;
    }

    .discount-offer-time-left {
        color: #fcbca0 !important;
    }

    .SelectedCoursePage-card-img-div {
        background-position: center;
        height: 20rem;
        background-size: cover;
    }

   
    .coding-exercise{
        display: block !important;
    }

    .coding-exercise-img{
        margin-top: 2rem;
    }

}

@media (max-width:600px) {
    .SelectedCoursePage-card-img-div{
        margin-left: -1rem;
        margin-right: -1rem;
    }
}