.topics-unit-carousel {
    overflow: hidden;
}

.topics-unit-carousel .topic{
    padding: 1rem;

    margin-bottom: .7rem;
    border: 1px solid #d1d7dc;
    text-align: center;
    font-weight: 900;
}

.topics-unit-carousel i{
    padding: 12px;
    border-radius: 50%;
    background-color: #2d2f31;
    color: white;
}

.topics-unit-carousel a{
    top: 4.7rem;
}