.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.selectedCourseLinksColor{
  text-decoration: underline;
    color: #c0c4fc;
}

.font-size-point9rem{
  font-size: .9rem;
}

.nostyleButton{
  border: none;
  background-color: transparent;
}

.purple-dark-link{
  color: #5624d0;
  font-weight: 700;
  text-decoration: underline !important;
}

.purple-dark-link:hover{
  text-decoration: underline !important;
  color: #401b9c;
}




.purple-btn{
  border: none;
  background-color: #a435f0;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: .8rem;
}

.purple-btn:hover{
  border: none;
  background-color: #8710d8;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: .8rem;
}


.light-btn{
  border: none;
  background-color: white;
  color: #282c34;
  font-weight: 700;
  text-align: center;
  padding: .8rem;
}

.light-btn:hover{
  border: none;
  background-color: #1739531f;
  color: #282c34;
  font-weight: 700;
  text-align: center;
  padding: .8rem;
}